.sidePanel {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  /* width: 13rem; */
  grid-template-rows: repeat(2, minmax(min-content, max-content)) auto;
  height: 100%;
  background-color: rgb(23, 23, 37);
  user-select: none;
  border-right: 2px solid #333333;
}

.sidePanel-mobile{
  background-color: rgb(23, 23, 37);
}

@media screen and (min-width: 600px) {
  .fullscreen {
    display: none;
  }
}

@media screen and (max-width: 618px) {
  .sidePanel {
    display: none;
  }
  
  .sidePanel-mobile {
    display: grid;
    grid-template-columns: 1/3;
    /* width: 15rem; */
    z-index: 3;
    background-color: rgb(23, 23, 37);
  }
}

@media screen and (max-width: 576px) {
  .ant-list-item {
    flex-wrap: nowrap !important;
  }
}

.side-user-info {
  border-bottom: 1px solid #333333;
  display: grid;
  height: 7rem;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: minmax(min-content, max-content) auto;
  padding: 0.1rem 0.8rem 0.1rem 0.2rem;
  background-color: rgb(23, 23, 37);
}

.side-user-info-icon {
  grid-row: 1/3;
  grid-column: 1/2;
  align-self: center;
}

.side-user-info-name {
  white-space: nowrap;
  cursor: pointer;
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: center;
  justify-self: end;
}

.side-user-info-name-text {
  font-size: 20px;
}

.currentFundsWrapper {
  font-size: 17px;
  line-height: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
}

#sideLastFundChange {
  font-size: 17px;
  font-weight: bold;
}

.currentFundsWrapperSatoshis {
  font-weight: bold;
  font-size: 17px;
  grid-row: 1/2;
  grid-column: 1/2;
}

.currentFundsWrapperSatoshisLogo {
  font-size: 12px;
  grid-row: 1/2;
  grid-column: 2/2;
}

.currentFundsWrapperEuro {
  opacity: 0.5;
  font-size: 15px;
  grid-row: 2/2;
  grid-column: 2/1;
  justify-self: end;
}

.currentFundsWrapperEuroLogo {
  opacity: 0.5;
  font-size: 12px;
  grid-row: 2/2;
  grid-column: 2/2;
}

.side-buttons-wrapper {
  display: grid;
  padding: 1rem;
  row-gap: 1.5rem;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  justify-items: start;
  border-bottom: 1px solid #333333;
  background-color: rgb(23, 23, 37);
}

.side-button-homePage {
  border: none !important;
  margin-left: 0.5rem;
}

.c13nLogo {
  display: inline;
  position: relative;
  right: 26px;
  height: 35px;
  padding: 5px;
  text-align: left;
}

.logoSpan {
  width: 120px;
  text-align: left;
  position: relative;
  right: 2px;
}

.side-button-searchUsers {
  border: none !important;
  margin-left: 0.5rem;
}

.sideSearchOutlined {
  position: relative;
  right: 22px;
}

.sideSearchOutlinedSpan {
  width: 120px;
  text-align: left;
}

.side-button-groupChat {
  border: none !important;
  margin-left: 0.5rem;
}

.sidePlusOutlined {
  position: relative;
  right: 22px;
}

.sidePlusOutlinedSpan {
  width: 120px;
  text-align: left;
}

.side-contacts-wrapper {
  text-align: left;
  display: grid;
  gap: 1.5rem;
  grid-template-rows: repeat(2, minmax(min-content, max-content)) auto minmax(
      min-content,
      max-content
    );
  padding: 0.8rem 0.8rem 0.6rem 0.4rem;
}

.discussionsList {
  height: 30vh;
  gap: 2rem;
  overflow-y: scroll;
}

.side-filter {
  align-self: start;
}

.userContainer {
  z-index: 99;
  transition: 0.3s;
  margin: 0px;
  padding: 5px;
  border: none;
  width: 100%;
}

.SideListItem {
  margin-left: 15px;
  float: right;
  cursor: pointer;
}

.sideContactUserWrapper {
  cursor: pointer;
  width: 150px;
}

.sideContactUserWrapperB {
  display: inline;
}

.sideContactUserWrapperDiv {
  font-size: 80%;
}

.sideDropdown {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

.side-input-filter {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.side-input-version {
  font-size: 10px;
  place-self: end stretch;
  grid-row: 4/5;
}
